* {
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
    justify-content: space-between;
    font-family: Arial, Helvetica, sans-serif;
}

.container__violet {
    width: 35%;
    height: 800px;
    margin-left: -100px;
    /* background-color: #943bff; */
    border-radius: 0 0 400px 400px;
    background: linear-gradient(#ce40ff, #943bff);
}

.container__booking {
    width: 500px;
    margin: auto;
    color: gray;
    line-height: 1.7rem;
}

.container__booking h2 {
    color: #3a2949;
    margin-bottom: 25px;
    font-size: 2rem;
}

